<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tmat -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.mcmaster.traceability_matrix.tmat.presentation.TmatModelWizardID"
            name="%_UI_TmatModelWizard_label"
            class="org.mcmaster.traceability_matrix.tmat.presentation.TmatModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TmatModelFile.gif">
         <description>%_UI_TmatModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tmat -->
      <editor
            id="org.mcmaster.traceability_matrix.tmat.presentation.TmatEditorID"
            name="%_UI_TmatEditor_label"
            icon="icons/full/obj16/TmatModelFile.gif"
            extensions="tmat"
            class="org.mcmaster.traceability_matrix.tmat.presentation.TmatEditor"
            contributorClass="org.mcmaster.traceability_matrix.tmat.presentation.TmatActionBarContributor">
      </editor>
   </extension>

</plugin>
