<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pfcsm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.mcmaster.pfcsm.presentation.PfcsmModelWizardID"
            name="%_UI_PfcsmModelWizard_label"
            class="org.mcmaster.pfcsm.presentation.PfcsmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PfcsmModelFile.gif">
         <description>%_UI_PfcsmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pfcsm -->
      <editor
            id="org.mcmaster.pfcsm.presentation.PfcsmEditorID"
            name="%_UI_PfcsmEditor_label"
            icon="icons/full/obj16/PfcsmModelFile.gif"
            extensions="pfcsm"
            class="org.mcmaster.pfcsm.presentation.PfcsmEditor"
            contributorClass="org.mcmaster.pfcsm.presentation.PfcsmActionBarContributor">
      </editor>
   </extension>

</plugin>
